.extra_field{
    width:100%;
    float:left;
    border-left: 2px solid rgb(0,0,0);
    margin-top: 0px;
    margin-bottom: 0px;
}

test.extra_field
jijijijiji
testRebase
testRebase

.number_field{
    width: 4%; height: 125px;
    float:left; text-align:center;
    font-size: 15px;
    border-bottom: 2px solid rgb(0,0,0);
    background-color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
}


.name_field{
    float:left; align:left; text-align:top;
    border-left: 2px solid rgb(0,0,0); border-bottom: 2px solid rgb(0,0,0);
    margin-top: 0px;
    margin-bottom: 0px;
}


.name_field2{
    width: 25.5%; height: 40px;
    float:left; align:left; text-align:top;
    border-right: 2px solid rgb(0,0,0); border-bottom: 2px solid rgb(0,0,0);
    margin-top: 0px;
    margin-bottom: 0px;
}

.name_field3{
    width: 25.5%; height: 40px;
    float:left; align:left;
    border-right: 2px solid rgb(0,0,0); border-bottom: 2px solid rgb(0,0,0);
    margin-top: 0px;
    margin-bottom: 0px;
}

.firstname_field{
    width: 23%; height: 40px;
    float:left; text-align:top;
    border-left: 2px solid rgb(0,0,0); border-bottom: 2px solid rgb(0,0,0);
    margin-top: 0px;
    margin-bottom: 0px;
}